<div class="modal" id="loader_modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h3 id="loader_message"></h3>
          <i class="fa fa-refresh fa-animate" aria-hidden="true"></i>
          <div id="ptext"></div>
        </center>
        <div class="progress" id="progress">
          <div id="pbar" class="progress-bar" role="progressbar" style="width: 0%"></div>
       </div>
      </div>
    </div>
  </div>
</div>
