<div ng-include src="'/views/modals/field_selector.html?v=5'"></div>

<div ng-include src="'/views/modals/password_generator.html?v=7'"></div>

<div class="modal modal-full" id="secret_modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-full" role="document">
    <div class="modal-content modal-content-full">

      <div class="modal-header tb-container">
        <div id="toolbar" ng-include src="'/views/modals/secret.toolbar.html?v=5'"></div>
      </div>

      <div class="modal-body modal-body-full" id="secret_body">
        <form id="secret_form">
          <div class="form-group">
            <h1 class="editable" id="secret_title"></h1>
            <div style="clear:both"></div>
            <small class="form-text text-muted" id="secret_meta"></small>
            <small class="form-text text-muted" id="cleartext-warning">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
              This will be the only plaintext information in the arc.
            </small>
          </div>

          <ul class="form-group" id="secret_entry_list"></ul>
        </form>
      </div>

    </div> <!-- content -->
  </div> <!-- dialog -->
</div>   


