<input id="pinned" type="checkbox" style="display:none"/>
<label for="pinned" class="btn btn-default tb-elem"></label>

<button type="button" class="btn btn-default tb-elem" ng-click="onAddField()">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-default btn-new tb-elem" ng-click="onAdd()">
  <i class="fa fa-floppy-o" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-default btn-edit tb-elem" ng-click="onUpdate()">
  <i class="fa fa-floppy-o" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-default btn-edit tb-elem" ng-click="onDelete()">
  <i class="fa fa-trash-o" aria-hidden="true"></i>
</button>

<div id="expired_at_form" class="input-append date tb-elem">
  <div class="input-group">
    <span class="input-group-btn add-on">
      <button id="expiration_btn" class="btn btn-default" type="button">
        <i class="fa fa-calendar icon-calendar" aria-hidden="true"></i>
      </button>
    </span>
    <input type="text" id="secret_expired_at" placeholder="Does not expire." value="" readonly>
    <span class="input-group-btn add-on" id="eraser">
      <button class="btn btn-default" type="button">
        <i class="fa fa-eraser icon-remove" aria-hidden="true"></i>
      </button>
    </span>
    <select class="input-group-btn add-on btn btn-default" id="pruner" name="pruner">
      <option value="1" selected>Delete</option>
      <option value="0">Keep</option>
    </select>
  </div>
</div>

<button type="button" class="btn btn-default tb-elem btn-close" data-dismiss="modal">
  <i class="fa fa-times" aria-hidden="true"></i> 
</button>

<script type="text/javascript">

$("#expired_at_form").datetimepicker({
  format: "mm/dd/yyyy hh:ii:ss",
  autoclose: true,
  todayBtn: true,
  minuteStep: 1,
  title: 'Select an expiration date:'
});

$('#secret_expired_at').change(function(){
  var $me = $(this);
  if( $me.val() == '' ) {
    $me.hide();
    $('#eraser').hide();
    $('#pruner').hide();
  } else {
    $me.show();
    $('#eraser').show();
    $('#pruner').show();
  }
});
</script>  
