body {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.modal-body {
  position: absolute;
  width: 100%;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.search-form {
    width: 100%;
    margin-bottom:10px;
}

.search-filter {
}

div.entry-edit {
    float: right; 
    margin-bottom: 5px;
}

div.entry-edit > a {
    color: #212529;
}

.add-secret {
    margin-bottom: 5px;
}

#secret_entry_list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secrets-list > li:hover {
    background-color: #eee;
    cursor: pointer;
}

.add-entry-row {
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 25px;
}

input.editable-input {
    width: 100%;
    margin-bottom: 10px;
}

.md-editor {
    width: 100%;
    max-height: 600px;
    overflow: auto;
}
