<br/>
<br/>
<form class="form-signin">
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>

  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" class="form-control" placeholder="Password" required>

  <label for="key" class="sr-only">Encryption Key</label>
  <input type="password" id="key" class="form-control" placeholder="Encryption key" value="vault" required>

  <button class="btn btn-lg btn-warning btn-block" type="submit" ng-click="doLogin()">
    <img width="30px" src="/img/logo.png"/>
  </button>
</form>
