<form class="form-signin">
  <h2 class="form-signin-heading">Vault</h2>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" class="form-control" placeholder="Password" required>
  <label for="key" class="sr-only">Encryption Key</label>
  <input type="password" id="key" class="form-control" placeholder="Encryption key" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="doLogin()">Sign in</button>
</form>
