<!doctype html>
<html lang="en">
<head>
  <title>Vault Secrets Manager</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vault Secrets Manager.">
  <meta name="author" content="Simone 'evilsocket' Margaritelli">

  <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>

  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-markdown.min.css">
  <link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.timeago.js"></script>
  <script type="text/javascript" src="/js/jquery/markdown.min.js"></script>
  <script type="text/javascript" src="/js/angular/angular.min.js"></script>
  <script type="text/javascript" src="/js/crypto-js/crypto-js.js"></script>
  <script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap/bootstrap-markdown.js"></script>

  <script type="text/javascript" src="/js/vault.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
  <div class="container-fluid" ng-app="PM" ng-controller="PMController">

    <div ng-include src="'/views/modals/error.html?v=2'"></div>

    <div id="messages" ng-include src="'/views/messages.html'"></div>

    <div id="login" class="container" ng-if="!vault.IsLogged()" ng-include src="'/views/login.html?v=3'"></div>

    <div ng-if="vault.HasStore()">
          <div id="search_form" class="search-form form-group" ng-include src="'/views/search_form.html?v=2'"></div>

          <button type="button" class="btn btn-success form-control add-secret" ng-click="onNewSecret()">
            Create Secret
          </button>

          <ul id="secrets_list" class="list-group secrets-list">
            <li class="list-group-item" ng-if="filterSecret(r)" ng-repeat="r in vault.records" ng-click="onShowSecret(r)">
              <span ng-include src="'/views/secret_list_item.html?v=5'"></span>
            </li>
          </ul>

          <div ng-include src="'/views/modals/secret.html?v=2'"></div>

      </div>
    </div>

  </div>
</body>
</html
