<!doctype html>
<html lang="en">
<head>
  <title>Vault Password Manager</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vault Password Manager web application.">
  <meta name="author" content="Simone 'evilsocket' Margaritelli">

  <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>

  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css">

  <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.timeago.js"></script>
  <script type="text/javascript" src="/js/angular/angular.min.js"></script>
  <script type="text/javascript" src="/js/crypto-js/crypto-js.js"></script>
  <script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="/js/vault.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
  <div class="container" ng-app="PM" ng-controller="PMController">

    <div id="messages" ng-include src="'/views/messages.html'"></div>

    <div id="login" class="container" ng-if="!vault.IsLogged()" ng-include src="'/views/login.html?v=2'"></div>

    <div class="row" ng-if="vault.HasStore()">
          <!--
          <br/>
          <form name="secret_form" >
            <input placeholder="Title" type="text" name="pass_title" id="pass_title" style="width:100%" />
            <input placeholder="Password" type="password" name="pass_data" id="pass_data" style="width:100%"/>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" style="width:100%" ng-click="doAdd()">Add</button>
          </form>
          -->

          <div id="search_form" class="search-form form-group" ng-include src="'/views/search_form.html'"></div>

          <ul id="secrets_list" class="list-group secrets-list">
            <li class="list-group-item" ng-if="filterSecret(r)" ng-repeat="r in vault.records" ng-click="showSecret(r)">
              <span ng-include src="'/views/secret_list_item.html?v=4'"></span>
            </li>
          </ul>

          <div ng-include src="'/views/show_secret_modal.html'"></div>

      </div>
    </div>

  </div>
</body>
</html
