<!doctype html>
<html lang="en">
<head>
  <title>Vault Password Manager</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vault Password Manager web application.">
  <meta name="author" content="Simone 'evilsocket' Margaritelli">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.timeago.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/crypto-js/crypto-js.js"></script>
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="/js/vault.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
  <div class="container" ng-app="PM" ng-controller="PMController">
    <span ng-if="statusMessage">
      {{ statusMessage }}
    </span>
    <small ng-if="errorMessage" style="color:red;">
      {{ errorMessage }}
    </small>

    <div id="login" class="container" ng-if="!vault.IsLogged()" ng-include src="'/views/login.html'"></div>

    <div class="row" ng-if="vault.HasStore()">
          <!--
          <br/>
          <form name="secret_form" >
            <input placeholder="Title" type="text" name="pass_title" id="pass_title" style="width:100%" />
            <input placeholder="Password" type="password" name="pass_data" id="pass_data" style="width:100%"/>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" style="width:100%" ng-click="doAdd()">Add</button>
          </form>
          -->
          <small style="font-size:9px;">Password store has been updated {{ vault.store.UpdatedAt | timeago }}.</small>
          <br/><br/><br/>
          <input type="text" id="search_filter" name="search_filter" ng-model="search" ng-change="updateFilter()" placeholder="Search ..." style="width:100%; margin-bottom:50px;"/>

          <span ng-repeat="r in vault.records">
            <div ng-include src="'/views/secret_list_item.html'"></div>
          </span>

          <div ng-include src="'/views/secret_modal.html'"></div>

      </div>
    </div>

  </div>
</body>
</html
