[Unit]
Description=arcd server (%I)
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/arcd -config /usr/local/etc/arcd/config.json -app /usr/local/bin/arc
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
DefaultInstance=pi
