[Unit]
Description=arcd server (%I)
After=network.target

[Service]
Type=simple
User=%I
WorkingDirectory=~
Environment="ARCD_APP=go/src/github.com/evilsocket/arc/arc"
Environment="ARCD_CONFIG=config.json"
ExecStart=/usr/local/bin/arcd -config ${ARCD_CONFIG} -app ${ARCD_APP}
Restart=on-failure

[Install]
WantedBy=multi-user.target
DefaultInstance=pi
