{{ r.title }}
<small id="record_status_{{ r.id }}" class="record-status status-locked">
  {{ r.size | bytes }} / 
  <b>
    {{ r.encryption.toUpperCase() }}
    <i id="record_lock_{{ r.id }}" class="fa fa-lock" aria-hidden="true"></i>
  </b>
  <br/>
  <small>
    Updated {{ r.updated_at | timeago }}
    <span ng-if="doesExpire(r)" class="expiration" ng-class="{'status-expired': isExpired(r)}">
      , <strong>{{ r.expired_at | expiration }}
        <i class="fa fa-trash" ng-if="r.prune" aria-hidden="true"></i>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </strong>
    </span>
    <span id="record_error_{{ r.id }}" style="color:red"></span>
  </small>
</small>

