<div class="card rounded-0">
    <div class="card-body">
        <form class="form" role="form" autocomplete="off" id="formLogin">
            <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="username" required="">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg rounded-0" id="password" required="" autocomplete="new-password">
            </div>
            <div class="form-group">
                <label>AES256 encryption key</label>
                <input type="password" class="form-control form-control-lg rounded-0" id="key" required="" autocomplete="new-password">
            </div>
            <label>
              <input type="checkbox" id="persist" value="persist"/> Remember this computer.
            </label>
            <br/>
            <button type="submit" class="btn btn-secondary float-right" ng-click="doLogin()">Login</button>
        </form>
    </div>
</div>
