<b>{{ r.Title }}</b>
<small id="record_status_{{ r.ID }}" class="record-status status-locked">
  {{ r.Data.length | bytes }} / 
  <b>
    {{ r.Encryption.toUpperCase() }}
    <i id="record_lock_{{ r.ID }}" class="fa fa-lock" aria-hidden="true"></i>
  </b>
  <br/>
  <small>
    Updated {{ r.UpdatedAt | timeago }}
    <br/>
    <span ng-if="doesExpire(r)" class="expiration" ng-class="{'status-expired': isExpired(r)}">
      {{ r.ExpiredAt | expiration }}

      <i class="fa fa-trash" ng-if="r.Prune" aria-hidden="true"></i>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <br/>
    </span>
    <span id="record_error_{{ r.ID }}" style="color:red"></span>
  </small>
</small>

