<div class="modal fade" id="copy_move_modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    

      <div class="modal-header tb-container-small">
        <div class="toolbar-small">
          <button type="button" class="btn btn-default tb-elem btn-close-small" data-dismiss="modal">
            <i class="fa fa-times" aria-hidden="true"></i> 
          </button>
        </div>
      </div>

      <div class="modal-body container" id="copy_move_body">
        <div class="row">

          <div class="col-5">
          <select class="add-on btn btn-default" style="width:100%" id="copy_move_action" name="copy_move_action">
            <option value="0" selected>Copy to</option>
            <option value="1">Move to</option>
          </select>
          </div>

          <div class="col-5">
          <select class="add-on btn btn-default" style="width:100%" id="copy_move_store" name="copy_move_store">
          </select>
          </div>

          <div class="col-2">
          <button class="btn btn-default" style="width:100%" type="button" ng-click="onMove()">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
