/*
 * Arc - Copyleft of Simone 'evilsocket' Margaritelli.
 * evilsocket at protonmail dot com
 * https://www.evilsocket.net/
 *
 * See LICENSE.
 */
body {
    background-color: #343a40;
}

* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

footer {
    color: #ccc;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
}

footer a {
    color: #888;
}

footer a:hover {
    color: #ccc;
}

#login {
    width: auto; 
    margin-top: 15%;
}

#login .card-body {

}

.progress {
    background-color: transparent;
}

.progress-bar {
    background-color: #bbb;
}

#ptext {
    font-size: 0.8rem;
    margin-bottom: 4px;
    margin-left: 2px;
    color: #999;
}

.modal-full {
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: initial !important;
    overflow-y: auto;
}

.modal-dialog-full {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.modal-content-full {
    min-height: 100%;
}

.modal-header-full {
}

.modal-body-full {
    width: 100%;
}

.modal-footer-full {
}

.modal-footer {
    border: none !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#session_time_left {
    display:none;
    margin-top: 10px;
    margin-bottom: 0px;
}

.search-form {
    width: 100%;
    margin-bottom:10px;
    margin-top: -10px;
}

.search-filter {
    line-height: 0.9rem;
    font-size: 0.9rem;
    width: 100%;
    border: 0;
}

div.entry-edit {
    float: right; 
    margin-bottom: 5px;
}

div.entry-edit a {
    margin-left: 5px;
}

div.tb-container {
    padding: 0;
    margin: 0;
}

#toolbar,
.toolbar-small {
    width: 100%;
    margin: 0;
    padding: 0;
} 

#toolbar button {
    background-color: transparent;
}

#toolbar .tb-elem {
    background-color: transparent;
    float: left;
}

#toolbar .tb-updated {
    padding: 5px;
    padding-left: 15px;
}

#pinned + label {
    width: 39px;
    margin: 0;
    cursor: pointer;
}

#pinned + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

#pinned + label:before { content: "\f08d"; }
#pinned + label:before { letter-spacing: 10px; }
#pinned:checked + label:before { content: "\f276"; color: orange;}
#pinned:checked + label:before { letter-spacing: 10px; }

#secret_expired_at {
    border: 0;
    font-size: 0.9rem;
}

#pruner {
    background-color: transparent;
    font-size: 0.9rem !important;
}

#toolbar button.btn-close,
.toolbar-small button.btn-close-small {
    background-color: transparent;
    float: right;
}

.tb-container-small {
    padding: 0;
    margin: 0;
    border: 0px;
}

.toolbar-small button {
    /* font-size: 0.7rem; */
}

.action-label {
    color: #aaa;
}

.action-button {
    color: #aaa;
}

.action-button:hover {
    cursor: pointer;
    color: #555;
}

input.ui-checkbox {
    margin-right: 5px;
}

div.entry-edit > a {
    color: #ddd;
    font-size: 1.3rem;
}

div.entry-edit > a:hover {
    color: #aaa;
}

.store-list-item {
    cursor: pointer;
}

.store-media {
    float: left;
    margin-right: 10px;
    color: #ccc;
}

.store-list-item b {

}

#secret_title {
    line-height: 35px;
    font-size: 35px;
    padding: 5px;
}

.add-secret {
    margin-bottom: 5px;
}

#secret_entry_list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secrets-list > li:hover {
    background-color: #eee;
    cursor: pointer;
}

.secrets-list > li.nohover:hover {
    background-color: #fff !important;
    cursor: default !important;
}

.record-status {
    float:right; 
    font-size:11px; 
    text-align:right;
}


.status-expired {
    color: black !important;
}

.status-locked {
    color:#bbb;
}

.status-unlocked {
    /* color: #28a745; */
    color:#bbb;
}

.status-error {
    color: red;
}

.add-entry-row {
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 25px;
}

input.editable-input {
    display: inline;
    width: auto;
    margin-bottom: 10px;
    line-height: 10px;
}

.md-editor {
    width: 100%;
    overflow: auto;
}

button.btn-password {
    border: 1px solid #ced4da;
}

.pwstrength_viewport_progress {
    margin-top: -10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 3px;
}

#pass_length .slider-selection {
    background: #BABABA;
}

.slider {
    width: 100% !important;
}

#generated_password {
    margin-top: 20px;
    width: 100%;
    font-size: 10px;
}

.entry-title {
    font-size: 1.0rem;
    font-family: inherit;
    font-weight: 600;
    word-break: break-all;
}

span.label-4 {
    /* font-weight: bold; */
}

div.preview-container {
    width: 6.2rem;
    height: 6.2rem;
    margin-right: 10px;
    text-align: center;
    background-color: #eee;
    line-height:6.2rem;
    float: left;
    cursor: pointer;
    display: inline-block;
}

img.preview-image {
    max-width: 6.2rem;
    max-height: 6.2rem;
    margin-right: 10px;
    vertical-align: middle;
}

.upload {
    float: left;
    display: inline-block;
    margin-right: 10px;
    font-size: 3.4rem;
    background: #eee;
    width: 6.2rem;
    height: 6.2rem;
    color: #ddd;
    cursor: pointer;
}

.upload:hover {
    color: #aaa;
}

span.file-desc {
    display: block;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-top: 35px;
}

span.file-desc label {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.7rem;
}

span.file-desc small {
    color: #777;
}

input[type=file] {
    display: none;
}

.md-editor > .md-preview {
    padding: 10px;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.secret-entry-item {
    cursor: grab;
    padding: 5px;
    z-index: 6000;
}

.secret-entry-item:hover {
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul li.placeholder:before {
    position: absolute;
}

#field_selector_body {
    padding: 25px;
    padding-top: 0px;
}

.field-box {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 5px;
}

.field-name {
    display: block; 
    font-size: 0.7em;
}

.field-button {
    font-size: 2em;
    width: 100%;
    height: 100%;
}

#templateContainer {
    margin-top: 5px;
    margin-bottom: -10px;
    color: #555;
}

#templateLabel {
    width: 100%;
    font-size: 0.8rem;
}

#template {
    width: 100%;
    font-size: 0.8rem;
}

#loader_message {
    margin-bottom: -5px;
}

#loader_modal {
    margin-top: 5%;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#secret_meta {
    margin-left: 7px;
}

div.notifications {
    font-size: 1.0rem;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 99;
}

.event-time {
    border-left:1px solid #ccc; 
    padding-left:10px;
    margin-left:5px;
}

#dropdownToggle {
    color: white;
}

.dropdown-toggle::after {
    display:none
}

.btc {
    font-size: 1.2rem;
    float: right;
    border-top: 5px solid #eee;
    margin-top: 10px;
}

div.otp-group {
    margin-bottom: 50px;
}

#otp {
    font-size: 1.2rem;
    float: right;
    border-top: 5px solid #eee;
    margin-top: 10px;
}

#otp .clock {
    margin-right: 5px;
    margin-left: 50px;
}

#otp a.copy {
    color: #bbb;
    margin-right: 5px;
}

.div-editable {
    width: 100%;
    min-height: 50px;
    border: 1px solid #eee;
}

li.expiring,
li.expired,
li.pinned {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

li.expired:before,
li.expiring:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 120px;
    margin-top: -65px;
    color: #eee;
    z-index: -1;
}

li.expiring:before {
    content: "\f017";
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}


li.expired:before {
    content: "\f06a";
}

li.pinned:before {
    font-family: FontAwesome;
    content: "\f08d";
    position: absolute;
    font-size: 50px;
    margin-top: -20px;
    color: orange;
    opacity: 0.2;
    z-index: -1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    font-size: 3rem;
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 10px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin2 {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.pwstrength_viewport_progress {
    margin-top: 5px;
}
