<div class="modal fade" id="password_generator_modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
        <div class="row">

          <div class="form-check col-3">
            <label class="form-check-label">
              <input id="pass_lower" type="checkbox" class="form-check-input" checked>
              a-z
            </label>
          </div>
          
          <div class="form-check col-3">
            <label class="form-check-label">
              <input id="pass_upper" type="checkbox" class="form-check-input" checked>
              A-Z
            </label>
          </div>

          <div class="form-check col-3">
            <label class="form-check-label">
              <input id="pass_digits" type="checkbox" class="form-check-input" checked>
              0-9
            </label>
          </div>

          <div class="form-check col-3">
            <label class="form-check-label">
              <input id="pass_symbols" type="checkbox" class="form-check-input" checked>
              Symbols
            </label>
          </div>

        </div> <!-- row -->

        <div class="row">
          <div class="col">
            <small>
              <span id="pass_n">32</span> characters.
            </small>
            <input id="pass_length" data-slider-id='pass_length' type="text" data-slider-min="5" data-slider-max="128" data-slider-step="1" data-slider-value="32"/>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input type="text" value="" id="generated_password"/>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="onGeneratePassword()">
          <span class="fa fa-refresh"></span> Generate
        </button>
        <button type="button" class="btn btn-success" ng-click="onUsePassword()">Use</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
