<div class="modal fade" id="secret_modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body" id="secret_body">
        <form id="secret_form">
          
          <div class="form-group">
            <input type="text" class="form-control" id="secret_title" placeholder="Title of the new secret ...">
            <small class="form-text text-muted">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This will be the only plaintext information in the vault.
            </small>
          </div>

          <ul class="form-group" id="secret_entry_list">
          </ul>

          <div class="form-group row add-entry-row">
            <div class="col-10">
              <select id="new_entry_type" class="form-control">
                <option ng-repeat="t in registeredTypes" value="{{ $index }}">{{ t.name }}</option>
              </select>
            </div>
            <div class="col-2">
              <button type="button" class="form-control btn btn-success" ng-click="addSecretEntry('add')">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <span id="new_secret_buttons">
          <button type="button" class="btn btn-primary" ng-click="onAdd()">Save</button>
        </span>
        <span id="edt_secret_buttons">
          <button type="button" class="btn btn-primary" ng-click="onUpdate()">Save</button>
          <button type="button" class="btn btn-danger" ng-click="onDelete()">Delete</button>
        </span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
      </div>
    </div>
  </div>
</div>
