<div ng-include src="'/views/modals/password_generator.html?v=6'"></div>

<div class="modal modal-full fade" id="secret_modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-full" role="document">
    <div class="modal-content modal-content-full">

      <div class="modal-body modal-body-full" id="secret_body">
        <form id="secret_form">
          
          <div class="form-group">
            
            
            <h1 id="secret_title_label"></h1>
            <input type="text" class="editable-input hidden form-control" id="secret_title" placeholder="Title of the new secret ...">

            <small class="form-text text-muted" id="cleartext-warning">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This will be the only plaintext information in the vault.
            </small>

          </div>

          <hr/>

          <ul class="form-group" id="secret_entry_list">
          </ul>

        </form>
      </div>

      <div class="modal-footer modal-footer-full">

       <div class="input-group mif" style="width: auto; min-width: 50%;">
          <select id="new_entry_type" class="form-control">
            <option ng-repeat="t in registeredTypes" value="{{ $index }}">{{ t.name }}</option>
          </select>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default action-button" ng-click="addSecretEntry('add')">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </span>
        </div>

        <span id="new_secret_buttons">
          <button type="button" class="btn btn-default action-button" ng-click="onAdd()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
        </span>
        <span id="edt_secret_buttons">
          <button type="button" class="btn btn-default action-button" ng-click="onUpdate()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default action-button" ng-click="onDelete()">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </span>
        <button type="button" class="btn btn-default action-button" data-dismiss="modal">
          <i class="fa fa-window-close" aria-hidden="true"></i> 
        </button>
      </div>
    </div>
  </div>
</div>
