body {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.modal-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.modal-dialog-full {
  position: fixed;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-header-full {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.modal-body-full {
  position: absolute;
  width: 100%;
}

.modal-footer-full {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#session_time_left {
    display:none;
    margin-top: 10px;
    margin-bottom: -10px;
}

.search-form {
    width: 100%;
    margin-bottom:10px;
    margin-top: -10px;
}

.search-filter {
}

div.entry-edit {
    float: right; 
    margin-bottom: 5px;
}

.action-button {
    color: #aaa;
}

.action-button:hover {
    cursor: pointer;
    color: #555;
}

div.entry-edit > a {
    color: #eee;
}

div.entry-edit > a:hover {
    color: #aaa;
}

#secret_title {
    line-height: 35px;
    font-size: 35px;
    padding: 5px;
    width: 100%;
}

.add-secret {
    margin-bottom: 5px;
}

#secret_entry_list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secrets-list > li:hover {
    background-color: #eee;
    cursor: pointer;
}

.record-status {
    float:right; 
    font-size:11px; 
    text-align:right;
}

.status-locked {
    color:#bbb; 
}

.status-unlocked {
    color: #28a745;
}

.status-error {
    color: red;
}

.add-entry-row {
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 25px;
}

input.editable-input {
    display: inline;
    width: auto;
    margin-bottom: 10px;
    line-height: 10px;
}

.md-editor {
    width: 100%;
    max-height: 600px;
    overflow: auto;
}

button.btn-password {
    border: 1px solid #ced4da;
}

.pwstrength_viewport_progress {
    margin-top: -10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 3px;
}

#pass_length .slider-selection {
	background: #BABABA;this.id(idx)
}

.slider {
    width: 100% !important;
}

#generated_password {
    margin-top: 20px;
    width: 100%;
    font-size: 10px;
}

span.label-4 {
    /* font-weight: bold; */
}

.upload {
    float: left;
    display: inline-block;
    padding: 5px 9px;
    margin-right: 10px;
    font-size: 10px;
}

input[type=file] {
    display: none;
}
