<div ng-include src="'/views/modals/field_selector.html?v=2'"></div>

<div ng-include src="'/views/modals/password_generator.html?v=7'"></div>

<div class="modal modal-full fade" id="secret_modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-full" role="document">
    <div class="modal-content modal-content-full">

      <div class="modal-body modal-body-full" id="secret_body">
        <form id="secret_form">
          <div class="form-group">
            <h1 class="editable" id="secret_title"></h1>
            <br/>
            <small class="formt-text text-muted" id="secret_date_container">
              Last update on <span id="secret_date"></span>
            </small>
            <small class="form-text text-muted" id="cleartext-warning">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This will be the only plaintext information in the ark.
            </small>
          </div>

          <ul class="form-group" id="secret_entry_list">
          </ul>
        </form>
      </div>

      <div class="modal-footer modal-footer-full">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default action-button" ng-click="onAddField()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </span>
        <span id="new_secret_buttons">
          <button type="button" class="btn btn-default action-button" ng-click="onAdd()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
        </span>
        <span id="edt_secret_buttons">
          <button type="button" class="btn btn-default action-button" ng-click="onUpdate()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default action-button" ng-click="onDelete()">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </span>
        <button type="button" class="btn btn-default action-button" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> 
        </button>
      </div>
    </div>
  </div>
</div>
